.review{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 100px;
    margin-right: 100px;
    grid-gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.review-header{
    margin-top: 150px;
    margin-bottom: 150px;
}
.card-img-top{
    width: 100%;
    height: 250px;
}

@media only screen and (max-width:688px)  {
    .review{
    grid-template-columns: repeat(1,1fr);
}
}